{% extends 'BSkyCoreBundle::layout.html.twig' %}

{% form_theme form 'BSkyCoreBundle:Form:fields.html.twig' %}

{% block content %}
<section>
    <div class="section-header">
        <h2>{{ 'page.edit.title'|trans({'%title%':entity.title}, 'BSkySimplePageBundle') }}</h2>
    </div>
    <form class="form-horizontal" action="{{ path('bsky_simplepage_page_edit', {'id' : entity.id}) }}" method="POST" {{ form_enctype(form) }} >
        {{ form_row(form.title) }}
        <div class="control-group">
            <label class="control-label">{{'page.form.label.url'|trans([], 'BSkySimplePageBundle') }}</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input"><a target="_blank" href="{{ url('bsky_simplepage_frontpage_show', {'slug':entity.slug}) }}">{{ url('bsky_simplepage_frontpage_show', {'slug':entity.slug}) }}</a></span>
            </div>
        </div>
        {{ form_row(form.body) }}
        {{ form_row(form.keywords) }}
        {{ form_row(form.published_at) }}
        {{ form_rest(form) }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{{ 'global.form_action.update'|trans([], 'BSkyCoreBundle') }}" >&nbsp;
            <a class="btn danger bui-confirm-popover-above" data-popover-title="{{ 'global.form_action.are_you_sure'|trans([], 'BSkyCoreBundle') }}" href="{{ path('bsky_simplepage_page_delete', { 'id': entity.id }) }}" >{{ 'global.form_action.delete'|trans([], 'BSkyCoreBundle') }}</a>&nbsp;
            <a class="btn" href="{{ path('bsky_simplepage_page_index') }}" >{{ 'global.form_action.back_to_list'|trans([], 'BSkyCoreBundle') }}</a>
        </div>
    </form>
</section>
{% endblock %}