{% extends 'BSkyCoreBundle::layout.html.twig' %}

{% block content %}
<section>
    <div class="section-header">
        <h2>{{ 'page.index.page_title'|trans([], 'BSkySimplePageBundle') }}</h2>
    </div>
    <form method="POST" action="{{ path('bsky_simplepage_page_groupprocess') }}">
        <div class="table-actions">
            <div class="other-actions">
                <a class="btn" href="{{ path('bsky_simplepage_page_new') }}">{{ 'page.index.add_page'|trans([], 'BSkySimplePageBundle') }}</a>
            </div>
            <div class="group-actions">
                {{ form_widget(groupForm.action) }}
                {{ form_rest(groupForm) }}
                <input class="btn" type="submit" value="{{ 'global.index_crud.group_action.submit'|trans([], 'BSkyCoreBundle') }}" />
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="groupCheckbox"><input type="checkbox" /></th>
                    <th>{{ 'page.index.title'|trans([], 'BSkySimplePageBundle') }}</th>
                    <th>{{ 'page.index.publish_status'|trans([], 'BSkySimplePageBundle') }}</th>
                    <th>{{ 'global.index_crud.actions'|trans([], 'BSkyCoreBundle') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in paginator %}
                <tr>
                    <td class="groupCheckbox"><input type="checkbox" name="ids[]" value="{{ entity.id }}" /></td>
                    <td><a href="{{ path('bsky_simplepage_page_edit', { 'id': entity.id }) }}" title="{{ entity.title }}">{{ entity.title }}</a></td>
                    <td>{% if entity.publishedAt|date('U') <= 'now'|date('U') %}{{ 'page.index.published'|trans([], 'BSkySimplePageBundle') }}{% else %}{{ 'page.index.notpublished'|trans([], 'BSkySimplePageBundle') }}{% endif %}</td>
                    <td class="items-actions">
                        <a class="bui btt-edit" href="{{ path('bsky_simplepage_page_edit', { 'id': entity.id }) }}" >{{ 'global.form_action.edit'|trans([], 'BSkyCoreBundle') }}</a>
                    </td>
                </tr>
                {% else %}
                <tr class="no-result">
                    <td colspan="4">{{ 'page.index.no_result'|trans([], 'BSkySimplePageBundle') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    {{ paginator|paginate }}
</section>
{% endblock %}